.popup {
    background-color: rgba(000, 000, 000, 1);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3333;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    overflow: hidden;
    &:target {
        opacity: 1;
        visibility: visible
    }

    &__content {
       @include absposition;
        width: 95rem;
        width: 60vw;
        box-shadow: 2px 3px 2px #111;
        background-color: #fff;
        border-radius: 3px;
        z-index: 4000;
        overflow: hidden;
       display: block;
        //text-align: center;
        
    }
    &__right{
        display: block;
        width: 50vw;
        font-size: 16px;
    }
    &__left{
        display: block;
        width: 50vw;
        // background-image: linear-gradient(105deg, 
        // rgba(white, .9) 0%, 
        // rgba(white, .9 ) 50%,
        // transparent 50%),
        // url("/img/tensile-test-steel2.gif");
        // background-size: cover;
    }

    &__img{
        display: block;
        width: 50vw;
        height: 40rem;
        // background: linear-gradient(45deg, orangered 50%, red 50%, transparent 50%);
  
    }
    &__text {
        font-size: 1.4rem;
        color: green;
        padding: 1rem;
    }
    &__close {
        &:link,
        &:visited{
        font-size: 3rem;
        color: #333;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        }

        &:hover {
            color: #333;
        }


    }
}

