.popup {
    background-color: rgba(222, 212, 222, .9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3333;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    overflow: hidden;
    &:target {
        opacity: 1;
        visibility: visible
    }

    &__content {
       @include absposition;
        width: 100rem;
        height: 60rem;
        box-shadow: 2px 3px 2px #111;
        background-color: #fff;
        border-radius: 3px;
        z-index: 4000;
        overflow: hidden;
       display: block;
        //text-align: center;
        
    }
    &__right{
        display: table-cell;
        width: 20.33333%;
        vertical-align: middle;
        padding: 2rem 3rem;
        font-size: 16px;
        color: orangered;


    }
    &__left{
        display: table-cell;
        width: 60.666667%;
     
   

    }

    &__img{
        display: block;
        width: 600px;
        height: 512px;
     

    }
    &__text {
        font-size: 1.4rem;
        color: green;
        padding: 2rem;
    }
    &__close {
        &:link,
        &:visited{
        font-size: 3rem;
        color: #333;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        }

        &:hover {
            color: #333;
        }


    }
}

